
@using GitManager.Interface
@inject IIssueService IssueService
@rendermode InteractiveServer

<div class="mb-4">
    <EditForm Model="IssDto" OnValidSubmit="@LoadIssues" FormName="searchIssues">
        <DataAnnotationsValidator />
        <div class="row g-3 align-items-end">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="projectId">Project ID</label>
                    <InputNumber id="projectId" @bind-Value="IssDto.ProjectId" class="form-control" placeholder="Enter Project ID" tabindex="1" required />
                    <ValidationMessage For="() => IssDto.ProjectId" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="stateFilter">State</label>
                    <select id="stateFilter" class="form-control" @bind="SelectedState" tabindex="2">
                        <option value="All">All</option>
                        <option value="Opened">Opened</option>
                        <option value="Closed">Closed</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary w-100" tabindex="3">Search Issues by Project ID</button>
            </div>
        </div>
    </EditForm>
</div>